<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matthew.unscramble">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unscramble"
        tools:targetApi="31">
        <activity
            android:name=".SolutionActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".CameraInputActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".ManualInputActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".AlgorithmMenuActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".TimerActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".SolveMenuActivity"
            android:screenOrientation = "portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation = "portrait"
            android:theme="@style/Theme.Unscramble.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>